<html>
<head>
    <title>Test Page</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../js/create.js"></script>
    <link href="../../css/styles.css" rel="stylesheet">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">


</head>
<body class="cyan">
<a id="back-btn" class="btn-floating btn-large waves-effect waves-light red"><i
        class="material-icons">arrow_back</i></a>
<div class="dance_name">{{name}}</div>
<div class='main-container create-container card'>

    <div class="row">
        <div class="col cue-container">
            {{#each cues}}
                <a href="#modal-{{name}}" class="modal-trigger">
                    <div class="editing-cue">
                        <div style="color: white; font-size: 1.2em;">{{name}}</div>
                        <div style="display: flex; color: #ababab">
                            <div>Start: {{start}}, &nbsp</div>
                            <div>End: {{end}}, &nbsp</div>
                            <div>Duration: {{duration}}</div>
                        </div>
                    </div>
                </a>

                <div id="modal-{{name}}" class="modal" style="height: 500px; overflow: hidden">
                    <div class="modal-content" style="height: 440px;">
                        <h4 style="text-align: center;">Edit Cue</h4>
                        <div class="input-field col s12">
                            <input value="{{name}}" id="text-cue-name" type="text">
                            <label for="text-cue-name">Cue Name</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div onclick="textFormBtn('{{author}}','{{name}}')" class="btn">Submit</div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="col divid"></div>
        <div class="col">
            <div class="fixed-action-btn new-clip-btn">
                <a class="btn-floating btn-large green accent-3">
                    <i class="large material-icons">add</i>
                </a>
                <ul style="position: unset !important;">
                    <li><a class="btn-floating blue waves-effect modal-trigger" href="#modal1"><i
                            class="material-icons">text_fields</i></a></li>
                    <li><a class="btn-floating yellow waves-effect modal-trigger" href="#modal2"><i
                            class="material-icons">audiotrack</i></a></li>
                    <li><a class="btn-floating red waves-effect modal-trigger" href="#modal3"><i class="material-icons">image</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 style="text-align: center;">New Textual Cue</h4>
        <form id="text-form" method="post" action="/upload_text/{{author}}/{{name}}">
            <div class="input-field col s12">
                <input id="text-cue-name" type="text" name="cue_name">
                <label for="text-cue-name">Cue Name</label>
            </div>

            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="text_area"></textarea>
                <label for="textarea1">Textarea</label>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <div onclick="$('#text-form').submit()" class="btn">Submit</div>
    </div>
</div>

<div id="modal2" class="modal">
    <div class="modal-content">
        <h4 style="text-align: center;">New Audio Cue</h4>
        <form id="audio-form" method="post" enctype="multipart/form-data" action="/upload_audio/{{author}}/{{name}}">
            <div class="input-field col s12">
                <input id="audio-cue-name" type="text" name="cue_name">
                <label for="audio-cue-name">Cue Name</label>
            </div>
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" name="file"/>
                    </div>

                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text"
                               placeholder="Upload file"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div onclick="$('#audio-form').submit()" class="btn">Submit</div>
    </div>
</div>

<div id="modal3" class="modal">
    <div class="modal-content">
        <h4 style="text-align: center;">New Picture Cue</h4>
        <form id="picture-form" method="post" enctype="multipart/form-data"
              action="/upload_picture/{{author}}/{{name}}">
            <div class="input-field col s6">
                <input id="pic-cue-name" type="text" name="cue_name">
                <label for="pic-cue-name">Cue Name</label>
            </div>
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" name="file"/>
                    </div>

                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text"
                               placeholder="Upload file"/>
                    </div>
                </div>
            </div>
        </form>


    </div>
    <div class="modal-footer">
        <div onclick="$('#picture-form').submit()" class="btn">Submit</div>
    </div>
</div>
</body>