<html>
<head>
    <title>Create</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Favicon for tabs -->
    <link rel="shortcut icon" href="/myfavicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/myfavicon.ico" type="image/x-icon"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--Plugin CSS file with desired skin-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>

    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>


    <script src="../../js/create.js"></script>
    <link href="../../css/styles.css" rel="stylesheet">
    <link href="../../css/create.css" rel="stylesheet">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">


</head>
<body class="cyan">
<a id="back-btn" class="btn-floating btn-large waves-effect waves-light red"><i
        class="material-icons">arrow_back</i></a>
<div class="dance_name">{{name}}</div>
<div class='main-container create-container card'>

    <div class="row">
        <div class="col cue-container">
            {{#each cues}}

                <!--<a href="#modal-{{cue_name}}" class="modal-trigger">-->
                <div class="editing-cue">
                    <!--<div style="color: white; font-size: 1.2em;">{{name}}</div>-->
                    <input id="{{沲暹钺礤}-cue-range" type="text" class="js-range-slider" name="my_range" value=""
                           data-type="double"
                           data-min="0"
                           data-max="400"
                           data-to-max="370"
                           data-from="{{start}}"
                           data-to="{{end}}" onclick="event.stopPropagation()"/>

                    <script>
                        function deleteCue() {
                            var url = "delete_cue/" + '{{../author}}' + "/" + '{{../name}}' + "/" + '{{cue_name}}';

                            $.ajax({
                                method: "POST",
                                url: url
                            }).done(function (msg) {
                                // alert("Cue deleted:  " + msg);

                                location.reload(true);
                            });
                        }
                    </script>

                    <!--<button data-target="modal-{{cue_name}}" class="btn modal-trigger">Modal</button>-->

                    <a style="position: relative; left: calc(100% - 58px); top: -60px;"
                       class="btn-floating btn-large waves-effect waves-light red modal-trigger"
                       href="#modal-{{cue_name}}"><i
                            class="material-icons">delete</i></a>
                </div>

                <script type="text/javascript">
                    $(document).ready(function () {
                        function toMin(num) {
                            var n = num;
                            var minutes = Math.floor(n / 60);
                            var seconds = (n - minutes * 60);
                            return (minutes.toString() + ':' + seconds.toString());
                        }

                        var el = $("#{{沲暹钺礤}-cue-range");
                        el.ionRangeSlider({
                            onFinish: function (data) {
                                // Called then action is done and mouse is released

                                var from = data.from;
                                var to = data.to;

                                var url = "update_cue/" + '{{../author}}' + "/" + '{{../name}}' + "/" + '{{cue_name}}' + "/" + from + "/" + to;

                                $.ajax({
                                    method: "POST",
                                    url: url
                                }).done(function (msg) {
                                    alert("Data Saved:  " + msg);
                                });
                            },
                            prettify: toMin
                        });

                        $("#{{cue_name}}-cue-range").parent().find(".irs-bar").text('{{cue_name}}')
                    });
                </script>
                <!--</a>-->

                <div id="modal-{{cue_name}}" class="modal" style="height: 170px; overflow: hidden">
                    <div class="modal-content">
                        <h4 style="text-align: center;">Delete Cue?</h4>
                    </div>
                    <div class="modal-footer" style="text-align: center;">
                        <a href="#!" style="color: white" class="modal-close waves-effect waves-green btn-flat red z-depth-1">No</a>
                        <a href="#!" style="color: white" class="modal-close waves-effect waves-green btn-flat green z-depth-1" onclick="deleteCue()">Yes</a>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="col divid"></div>
        <div class="col">
            <div class="fixed-action-btn new-clip-btn" style="margin-top: 10px;">
                <a class="btn-floating btn-large green accent-3">
                    <i class="large material-icons">add</i>
                </a>
                <ul style="position: unset !important;">
                    <li><a class="btn-floating blue waves-effect modal-trigger" href="#modal1"><i
                            class="material-icons">text_fields</i></a></li>
                    <li><a class="btn-floating yellow waves-effect modal-trigger" href="#modal2"><i
                            class="material-icons">audiotrack</i></a></li>
                    <li><a class="btn-floating red waves-effect modal-trigger" href="#modal3"><i class="material-icons">image</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 style="text-align: center;">New Textual Cue</h4>
        <form id="text-form" method="post" action="/upload_text/{{author}}/{{name}}">
            <div class="input-field col s12">
                <input id="text-cue-name" type="text" name="cue_name">
                <label for="text-cue-name">Cue Name</label>
            </div>

            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="text_area"></textarea>
                <label for="textarea1">Textarea</label>
            </div>
            <input type="text" class="js-range-slider rslider-my" name="my_range" value=""
                   data-type="double"
                   data-min="0"
                   data-max="400"
                   data-from="100"
                   data-to="200"/>
        </form>

    </div>
    <div class="modal-footer">
        <div onclick="addStartEndToForm('#text-form', 'upload_text', '{{author}}', '{{name}}')" class="btn">Submit</div>
    </div>
</div>

<div id="modal2" class="modal">
    <div class="modal-content">
        <h4 style="text-align: center;">New Audio Cue</h4>
        <form id="audio-form" method="post" enctype="multipart/form-data" action="/upload_audio/{{author}}/{{name}}">
            <div class="input-field col s12">
                <input id="audio-cue-name" type="text" name="cue_name">
                <label for="audio-cue-name">Cue Name</label>
            </div>
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" name="file"/>
                    </div>

                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text"
                               placeholder="Upload file"/>
                    </div>
                </div>
            </div>

            <input type="text" class="js-range-slider rslider-my" name="my_range" value=""
                   data-type="double"
                   data-min="0"
                   data-max="400"
                   data-from="100"
                   data-to="200"/>
        </form>
    </div>
    <div class="modal-footer">
        <div onclick="addStartEndToForm('#audio-form', 'upload_audio', '{{author}}', '{{name}}')" class="btn">Submit
        </div>
    </div>
</div>

<div id="modal3" class="modal">
    <div class="modal-content">
        <h4 style="text-align: center;">New Picture Cue</h4>
        <form id="picture-form" method="post" enctype="multipart/form-data"
              action="/upload_picture/{{author}}/{{name}}">
            <div class="input-field col s6">
                <input id="pic-cue-name" type="text" name="cue_name">
                <label for="pic-cue-name">Cue Name</label>
            </div>
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" name="file"/>
                    </div>

                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text"
                               placeholder="Upload file"/>
                    </div>
                </div>
            </div>
            <input type="text" class="js-range-slider rslider-my" name="my_range" value=""
                   data-type="double"
                   data-min="0"
                   data-max="400"
                   data-from="100"
                   data-to="200"/>
        </form>


    </div>
    <div class="modal-footer">
        <div onclick="addStartEndToForm('#picture-form', 'upload_picture', '{{author}}', '{{name}}')" class="btn">
            Submit
        </div>
    </div>
</div>
</body>