<html>
<head>
    <title>Dance Notes</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <link href="css/styles.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

</head>
<link rel="shortcut icon" href="/myfavicon.ico" type="image/x-icon"/>
<link rel="icon" href="/myfavicon.ico" type="image/x-icon"/>
<body class="cyan">
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 style="text-align: center;">New Dance Note</h4>
        <form id="dn-form" method="post" enctype="multipart/form-data"
              action="/create_new/{{name}}">
            <div class="input-field col s6">
                <input id="dn-name" type="text" name="dn_name">
                <label for="dn-name">Note Name</label>
            </div>
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" name="file"/>
                    </div>

                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text"
                               placeholder="Upload song"/>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn" type="submit" form="dn-form" value="Submit">
            Submit
        </button>
    </div>
</div>
<div class='main-container'>
    <div class='holder-title'>
        My Dances
    </div>
    <div class='choreo-holder'>
        <div id="create-btn" class="card">
            <a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#modal1" style="margin-top: 55px;"><i
                    class="material-icons">add</i></a>
        </div>
        {{#each dances}}
            <div class='choreo-item card' onclick="event.stopPropagation();openDance('{{author}}', '{{name}}');">
                <img src="{{thumbnail}}" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        {{name}}
                    </div>
                    <div class='choreo-item-duration'>
                        {{duration}}
                    </div>
                    <a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"
                       onclick="event.stopPropagation();editDance('{{author}}', '{{name}}');"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>
        {{/each}}
    </div>

    <div class='holder-title'>
        Explore
    </div>
    <div class='choreo-holder'>
        {{#each explore}}
            <div class='choreo-item card' onclick="event.stopPropagation();openDance('{{author}}', '{{name}}');">
                <img src="{{thumbnail}}" alt="Smiley face">
                <div class='choreo-item-bot'>
                    <div class='choreo-item-text'>
                        {{name}}
                    </div>
                    <div class='choreo-item-duration'>
                        {{duration}}
                    </div>

                    <!--<a class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"-->
                       <!--onclick="event.stopPropagation();editDance({{author}}, {{name}});"><i-->
                            <!--class="material-icons">edit</i></a>-->
                </div>
            </div>
        {{/each}}
    </div>
</div>
<!--<div class="box">-->
	<!--<a class="button" href="#popup1"> Help & Documentation </a>-->
<!--</div>-->

<!--<div id="popup1" class="overlay">-->

	<!--<div class="popup">-->
		<!--<h2>FAQ</h2>-->
		<!--<a class="close" href="#">&times;</a>-->
		<!--<div class="content">-->
			<!--<a> <b> How can I add my picture, text, or audio cues? </a> </b>-->
			<!--<p style= "color:gray"> From <b style="color:black"> Home</b>, click the <b style="color:black"> Create </b> button then add the cues of your choice. </p>-->

			<!--<a> <b> How can I loop the music? </a> </b>-->
			<!--<p style= "color:gray"> When you click the <b style="color:black"> Edit </b> button on the particular dance you want to edit, slide to the minutes of the music you want to loop, then toggle the <b style="color:black"> Loop </b> button. </p>-->

		<!--</div>-->
	<!--</div>-->
<!--</div>-->
</body>
</html>
