<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Plugin CSS file with desired skin-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>

    <!-- Backbutton  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
    <script src="../../js/dcount.js"></script>

    <link href="../../css/dcount.css" rel="stylesheet">
    <link href="../../css/button.css" rel="stylesheet">

    <style>
        .container {
            position: relative;
            width: 300px;
            height: 200px;
            border-radius: 5px;
            border: 1px solid red;
            overflow: hidden;
        }
    </style>

    <title>dancecount</title>

</head>

<body>
<a id="back-btn" class="btn-floating btn-large waves-effect waves-light red" style="border-radius: 50%;"><i
        class="material-icons">arrow_back</i></a>


<div id="body" align="center">
    <h1 align="center" style="display: inline-block;">{{name}} &nbsp</h1>
    <a id ="edit-btn" class="btn-floating btn-small waves-effect waves-light teal choreo-item-btn"
                       onclick="event.stopPropagation();editDance('{{author}}', '{{name}}');"><i
                            class="material-icons">edit</i></a>


    <div id="screen" class="container" style="width:100%; height:270px; max-width: 500px; max-height: 270px;"> <!-- THE IMAGE GALLERY -->
        <img src="../../black.jpg" width="100%" height="100%"/>
    </div>


    <p></p>
    <!-- PUT THE AUDIO HERE -->
    <script type="text/javascript">
        console.log("{{song}}")
    </script>
    <audio id="sample" src="{{song}}" controls style="width: 100%; max-height:400px; max-width: 500px" preload="auto" ontimeupdate="audio()">
        <p>Your browser does not support the audio element</p>
    </audio>


    <!-- LOOP TOGGLE HTML -->
    <p></p>
    <div class="loopbutton">
        <label class="switch">
            <input type="checkbox" id="check">
            <span class="slider round" id="loopslider"></span>
        </label>
        Loop and select section to loop from:
    </div>

    <p></p>
    <!-- LOOP 2 HANDLE SLIDER RANGE -->
    <div style="width: 300px">
        <input type="text" class="js-range-slider" name="my_range" value=""/>
    </div>

    <script>

        function toMin(num) {
            var n = num;
            var minutes = Math.floor(n / 60);
            var seconds = (n - minutes * 60);
            return (minutes.toString() + ':' + seconds.toString());
        }
  
        $(".js-range-slider").ionRangeSlider({
            skin: "round",
            type: "double",
            min: 0,
            max: 210,
            from: 0,
            prettify: toMin
        });

        let my_range = $(".js-range-slider").data("ionRangeSlider");
        //  Update range slider content (this will change handles positions)
        myaudio = document.getElementById("sample");
        myaudio.addEventListener('loadedmetadata', function () {
            my_range.update({
            max: Math.floor(myaudio.duration),
            from: 0,
            to: Math.floor(myaudio.duration)
        });
        });
    </script>
    
    <div id="hidden audio cues">

        {{#each cues}}
            {{#if audio}}
                <audio controls autoplay hidden="hidden">
                <source id = "audio{{start}}"src="{{file}}" type="mp3">
                <!--This displays an error to users that don't have it supported-->
                Your browser does not support the audio element.
                </audio>
                <script type="text/javascript">
                    $('#audio{{start}}').bind('timeupdate', function() {
                        if (this.currentTime >= (parseInt({{end}}, 10) - parseInt({{start}}, 10) {
                            this.pause();
                            this.currentTime = 0;
                        } 
                    });
                </script>
            {{/if}}

        {{/each}}
        
    </div>

    <!-- CUES AND AUDIO LISTENER FUNCTION (LOOP BETWEEN SPECIFIC TIME & DISPLAYS IMAGE) -->
    <script>
        var myaudio = document.getElementById("sample");
        var cuesArray = new Array(400).fill(("<img id='screen' src='../../black.jpg' width='100%' height='100%'/>"));
        var audioCueArray = new Array(400);

        myaudio.addEventListener('loadedmetadata', function () {

            {{#each cues}}
                for (let i = {{start}}; i <={{end}}; i++) {
                    if ("{{type}}" == "text") {
                        cuesArray[i] = ("<h2><strong>{{file}}</strong></h2>");
                    }
                    else if ("{{type}}" == "image") {
                        cuesArray[i] = ("<img src='{{file}}' width='302' height='202'/>");
                    }
                }

            {{/each}}
        });


        function audio() {

            // for (let i = 0; i < cuesArray.length; i++) {
            //     console.log(cuesArray[i])
            // }
            var myaudio = document.getElementById("sample");


            //play audiocue at its set time
            var audiocue = document.getElementById("audio"+Math.floor(myaudio.currentTime.toString()));
            if (document.getElementById("audio"+myaudio.currentTime.toString() != null)) {
                audiocue.play();
            }
            

            //var container = document.getElementById("screen");

            if (document.getElementById("sample").currentTime < cuesArray.length) {
                if (cuesArray[Math.floor(document.getElementById("sample").currentTime)] !== $("#screen").html()):
                    $("#screen").html(cuesArray[Math.floor(document.getElementById("sample").currentTime)]);
                //console.log(Math.floor(document.getElementById("sample").currentTime));

                //document.getElementById('imageDiv').appendChild(img);
            }


            if (myaudio.loop == true) {
                if (document.getElementById("sample").currentTime >= $('.js-range-slider').data("to")) {
                    document.getElementById("sample").currentTime = $('.js-range-slider').data("from")
                }

                if (document.getElementById("sample").currentTime <= $('.js-range-slider').data("from")) {
                    document.getElementById("sample").currentTime = $('.js-range-slider').data("from")
                }
            }


        }
    </script>


    <!--
    Click to select section to loop: <input onclick="this.value=Math.floor(myaudio.currentTime)" type="button" value=0 id="myButton1"></input> -
    <input onclick="this.value=Math.floor(myaudio.currentTime)" type="button" value=0 id="myButton2"></input> (seconds)
  -->

    <!-- LOOP TOGGLE JAVASCRIPT? -->

    <script>
        myaudio = document.getElementById("sample");
        var slider = document.getElementById("check");
        slider.oninput = function () {
            if (myaudio.loop === false) {
                myaudio.loop = true
            }
            else {
                myaudio.loop = false
            }
        };
    </script>

    <p></p>

    <!-- SPEED OF AUDIO SLIDER -->
    <div class="slidecontainer">
        <input type="range" min="25" max="200" value="100" class="slider" id="myRange">
        <p>Speed: <span id="demo"></span>%</p>
    </div>

    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;
        slider.oninput = function () {
            output.innerHTML = this.value;
            myaudio.playbackRate = this.value / 100;
        }
    </script>


</div>

</body>
</html>